This notebook is based on the [article](https://geopandas.org/en/stable/docs/user_guide/io.html) .

In [1]:
import geopandas
import geodatasets

## Reading subsets of the data

Since geopandas is powered by Fiona, which is powered by GDAL, you can take advantage of pre-filtering when loading in larger datasets.

### 1. Geometry filter

In [2]:
gdf_mask = geopandas.read_file(geodatasets.get_path("geoda.nyc"))
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc education"), 
                          mask=gdf_mask[gdf_mask.name=="Coney Island"])
gdf.head()

,POLY_ID,YOUTH_DROP,PER_MNRTY,HS_DROP,COL_DEGREE,PER_ASIAN,PER_WHITE,PER_BLACK,CTLabel,BoroCode,...,black,asian,sub18,GENDER_PAR,male,female,SCHOOL_CT,popdens,population,geometry
0,265.0,0.000000,0.27,0.26,0.25,0.23,0.73,0.00,282,3,...,13.0,670.0,498.0,0.9063,1374.0,1516.0,1,52863.62,2890.0,"POLYGON ((984160.158 158827.220, 983820.851 15..."
1,268.0,0.014545,0.27,0.26,0.35,0.17,0.73,0.02,286,3,...,103.0,836.0,936.0,0.9103,2375.0,2609.0,0,86071.59,4984.0,"POLYGON ((984854.441 158447.559, 984401.253 15..."
2,272.0,0.100000,0.27,0.25,0.27,0.19,0.73,0.01,292,3,...,25.0,452.0,515.0,1.0082,1226.0,1216.0,0,63204.53,2442.0,"POLYGON ((985473.748 157957.215, 984988.913 15..."
3,285.0,0.073171,0.79,0.42,0.07,0.07,0.21,0.50,326,3,...,3629.0,509.0,2624.0,0.8375,3303.0,3944.0,1,54937.25,7247.0,"POLYGON ((988855.037 148916.004, 988550.605 14..."
4,286.0,0.112033,0.84,0.40,0.17,0.26,0.16,0.44,328,3,...,1469.0,859.0,1044.0,0.8614,1529.0,1775.0,1,36971.54,3304.0,"POLYGON ((986417.939 149059.130, 986121.807 14..."

### 2. Bounding box filter

In [3]:
bbox = (1031051.7879884212, 224272.49231459625, 1047224.3104931959, 244317.30894023244)
gdf = geopandas.read_file(geodatasets.get_path("nybb"), bbox=bbox)
gdf.head()

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,4,Queens,896344.047763,3.045213e+09,"MULTIPOLYGON (((1029606.077 156073.814, 102957..."
1,2,Bronx,464392.991824,1.186925e+09,"MULTIPOLYGON (((1012821.806 229228.265, 101278..."

### 3. Row filter

In [4]:
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc"), rows=10)
gdf.head()

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2008,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,501,North Shore,501,North Shore,37.0657,34.0317,27.3767,29.3091,13.2540,11.8768,...,1000,21.1119,24.8073,28.5344,47.329128,6.005791,10.805068,12.127853,11.547433,"POLYGON ((962498.866 175588.946, 962914.980 17..."
1,502,Mid-Island,502,Mid-Island,27.9822,18.1193,24.0452,31.1566,20.0616,19.8575,...,950,32.3615,27.2584,27.9567,35.182323,2.287034,15.241246,15.183111,14.682124,"MULTIPOLYGON (((928296.856 163214.206, 928736...."
2,503,South Shore,503,South Shore,10.7019,12.1404,9.6890,14.6638,10.3060,12.7699,...,800,23.0547,20.4146,18.1590,23.894043,1.350208,12.704250,12.972280,13.561487,"MULTIPOLYGON (((932416.259 149575.995, 933217...."
3,401,Astoria,401,Astoria,52.0961,53.9585,54.6968,47.8050,38.3658,35.6551,...,1400,25.6022,26.7685,28.0467,80.533928,5.204510,12.839167,13.377513,12.544640,"MULTIPOLYGON (((1010873.210 226064.189, 101087..."
4,402,Sunnyside / Woodside,402,Sunnyside/Woodside,62.7242,69.3969,67.0897,58.2963,37.0512,31.9057,...,1400,18.8079,22.6752,21.3009,75.516866,2.974139,15.387656,12.518789,12.666909,"POLYGON ((1011646.607 216285.604, 1011729.063 ..."

In [5]:
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc"), rows=slice(10, 20))
gdf.head()

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2008,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,408,Hillcrest / Fresh Meadows,408,Hillcrest/Fresh Meadows,40.5955,49.3505,41.7017,47.6285,31.7976,32.6535,...,1100,11.1747,10.3662,14.5537,56.676558,2.995194,13.947060,13.318077,12.028814,"POLYGON ((1048790.349 210768.908, 1048814.094 ..."
1,409,Kew Gardens / Woodhaven,409,Ozone Park/Woodhaven,50.8436,52.1387,44.7577,40.9398,27.3269,27.0977,...,1150,37.9381,38.9302,39.4110,56.874420,5.750022,9.726725,9.982275,9.792964,"POLYGON ((1033028.373 199740.585, 1033194.229 ..."
2,410,Howard Beach / S. Ozone Park,410,South Ozone Park/Howard Beach,43.8722,39.5915,41.6120,39.6560,12.7682,14.6646,...,1200,32.3944,30.9688,33.1075,34.771132,3.435906,12.817753,13.556526,13.375080,"MULTIPOLYGON (((1023307.316 177012.162, 102391..."
3,411,Bayside / Little Neck,411,Bayside/Little Neck,42.1657,39.3678,48.8771,50.0854,18.7594,17.6638,...,1450,22.7169,22.5916,18.8791,32.021745,1.029474,13.439541,14.362331,14.165834,"POLYGON ((1060954.374 218276.433, 1061119.675 ..."
4,412,Jamaica,412,Jamaica,54.6087,48.2706,49.7955,49.0907,37.8281,25.9303,...,1000,22.1670,21.2375,22.5151,49.618408,6.878053,14.394483,16.219415,14.086895,"POLYGON ((1051692.177 200660.009, 1052073.349 ..."

### 4. Column filters

In [6]:
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc"), include_fields=["name", "rent2008", "kids2000"])
gdf.head()

,name,kids2000,rent2008,geometry
0,North Shore,39.2995,1000,"POLYGON ((962498.866 175588.946, 962914.980 17..."
1,Mid-Island,36.2234,950,"MULTIPOLYGON (((928296.856 163214.206, 928736...."
2,South Shore,39.7362,800,"MULTIPOLYGON (((932416.259 149575.995, 933217...."
3,Astoria,28.4592,1400,"MULTIPOLYGON (((1010873.210 226064.189, 101087..."
4,Sunnyside / Woodside,29.8808,1400,"POLYGON ((1011646.607 216285.604, 1011729.063 ..."

In [7]:
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc"), ignore_fields=["rent2008", "kids2000"])
gdf.head()

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2005,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,501,North Shore,501,North Shore,37.0657,34.0317,27.3767,29.3091,13.2540,11.8768,...,900,21.1119,24.8073,28.5344,47.329128,6.005791,10.805068,12.127853,11.547433,"POLYGON ((962498.866 175588.946, 962914.980 17..."
1,502,Mid-Island,502,Mid-Island,27.9822,18.1193,24.0452,31.1566,20.0616,19.8575,...,800,32.3615,27.2584,27.9567,35.182323,2.287034,15.241246,15.183111,14.682124,"MULTIPOLYGON (((928296.856 163214.206, 928736...."
2,503,South Shore,503,South Shore,10.7019,12.1404,9.6890,14.6638,10.3060,12.7699,...,775,23.0547,20.4146,18.1590,23.894043,1.350208,12.704250,12.972280,13.561487,"MULTIPOLYGON (((932416.259 149575.995, 933217...."
3,401,Astoria,401,Astoria,52.0961,53.9585,54.6968,47.8050,38.3658,35.6551,...,1100,25.6022,26.7685,28.0467,80.533928,5.204510,12.839167,13.377513,12.544640,"MULTIPOLYGON (((1010873.210 226064.189, 101087..."
4,402,Sunnyside / Woodside,402,Sunnyside/Woodside,62.7242,69.3969,67.0897,58.2963,37.0512,31.9057,...,1000,18.8079,22.6752,21.3009,75.516866,2.974139,15.387656,12.518789,12.666909,"POLYGON ((1011646.607 216285.604, 1011729.063 ..."

### 5. SQL WHERE filter

In [8]:
gdf = geopandas.read_file(geodatasets.get_path("geoda.nyc"), where="subborough='Coney Island'")
gdf.head()

,bor_subb,name,code,subborough,forhis06,forhis07,forhis08,forhis09,forwh06,forwh07,...,rent2008,rentpct02,rentpct05,rentpct08,pubast90,pubast00,yrhom02,yrhom05,yrhom08,geometry
0,213,Coney Island,213,Coney Island,39.9947,33.714,33.4522,35.7211,60.3644,59.6448,...,1000,11.5285,15.7978,16.3332,81.220779,9.121694,11.864032,11.5442,14.061286,"POLYGON ((989048.721 151627.789, 989190.440 15..."